* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #fcfa7a, #f38338);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: conic-gradient(
    red 45deg,
    orange 45deg 90deg,
    yellow 90deg 135deg,
    green 135deg 180deg,
    blue 180deg 225deg,
    purple 225deg 270deg,
    green 270deg 315deg,
    blue 315deg 360deg,
    purple 405deg
  );
  border: 15px solid #dde;
  position: relative;
  overflow: hidden;
  transition: all 10s;
  margin-left: 100px;
}

@keyframes example {
  100% {transform: rotate(100000deg);}
}

.container div {
  height: 50%;
  width: 200px;
  position: absolute;
  clip-path: polygon(100% 0, 50% 100%, 0 0);
  transform: translateX(-50%);
  transform-origin: bottom;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
  color: #fff;
  left: 135px;
}

.arrow {
  position: absolute;
  transform: translate(678%, -20%);
  color: #dde;
  z-index: 1;
}

.arrow::before {
  content: "\1F817";
  font-size: 100px;
}

#spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(295%, -50%);
  z-index: 10;
  background-color: #e2e2e2;
  text-transform: uppercase;
  border: 8px solid #fff;
  font-weight: bold;
  font-size: 20px;
  color: #a2a2a2;
  width: 80px;
  height: 80px;
  font-family: sans-serif;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  letter-spacing: 1px;
}

#spin:hover {
  font-size: 18px;
  background-color: #d3d3d3;
}

#spin:active {
  font-size: 15px;
}

#value-span {
  transform: rotate(270deg);
  text-transform: capitalize;
  font-size: 20px;
}

.notiAll{
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  z-index: 99;
}

.alert_success{
  left: 0;
  right: 0;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  color: red;
  width: 800px;
  height: 230px;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  background: white;
  color: #363636;
  padding: 10px;
  font-size: 25px;
  /* transform: translate(-50%, -50%) */
}

.btnCloseNoti{
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  background: #ececec;
  cursor: pointer;
}

p{
  text-transform: capitalize;
}
